/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


.great-idea{
	padding: 0 10%;
}

.top-nav{
	display: flex;
	justify-content: space-around;
	word-spacing: 25px;

}

.logo{
	width: auto;
	height: 8%
}

.main-heading button {
margin: 95px;
font-size: 15px;
text-align: center;
border: 2px solid black;

}


.main-img {
	display: flex;
	width: 50px;
	}


.top-content {
	width: 900px;
	border-top: 1px solid black ;
	margin-top: 20px;
	display: flex;
	padding-bottom: 3%;
}

.top-bar {
	initial-letter: 40px;
	margin: 20px;
	color: lightgray;
	}

	.bottom-content {
		margin-top: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid black;
		margin-bottom: 40px;
		display: flex;
		justify-content: space-between;

	
	}


	address h2 {
		margin: 20px;
		
	}
	
	footer p {
		margin: 30px ;
		text-align: center;
	}		

	/* This is for the second part of the project*/


	#great-idea{
		width: 800px;
     margin: 0 auto;
	}



	#about-header{
		display: flex;
		justify-content: space-around;
		word-spacing: 25px;
		color: lightgray;
	}



	#services-heading {
		margin: 10px;
		border-bottom: 2px solid black;
		padding: 25px;

}	

	.big-section {
		padding: 30px;
		margin: 50px 50 px;
		column-gap: 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: stretch;
		text-align: justify;
		align-content: center;
		border-bottom: 2px solid black;
		
	}

	.digital-design {
		border: 1px solid black;
		width: 350px;
		height: 200px;
		padding: 10px 10px;
		margin: 10px 10px;
		background-color: lightgray
		
		
	}

	.UX-design {
		border: 1px solid black;
		width: 350px;
		height: 200px;
		padding: 10px 10px;
		margin: 10px 10px;
		background-color: lightgray
		
	}



	.digital-marketing {
		border: 1px solid black;
		width: 350px;
		height: 200px;
		padding: 10px 10px;
		margin: 10px 10px;
		background-color: lightgray
		
	}

	.web-dev {
		border: 1px solid black;
		width: 350px;
		height: 200px;
		padding: 10px 10px;
		margin: 10px 10px;
		background-color: lightgray
	}

	.ios-dev {
		border: 1px solid black;
		width: 350px;
		height: 200px;
		padding: 10px 10px;
		margin: 10px 10px;
		background-color: lightgray
	}

	.android {
		border: 1px solid black;
		width: 350px;
		height: 200px;
		padding: 10px 10px;
		margin: 10px 10px;
		background-color: lightgray
	}



	.btn1, .btn2, .btn3, .btn4, .btn5, .btn6{
		
		margin-top: 10px;
		border: none
  		padding: 15px 32px;
  		text-align: center;
  		display: inline-block;
		border-radius: 8px;
	
	}

	.ending-content{
		padding: 30px;
		margin: 50px 50 px;
		column-gap: 15px;
		justify-content: stretch;
		text-align: justify;
		align-content: center;
	}


	.service-facts {
		border:  1px solid black;
		width: 350px;
		padding: 10px 10px;

	}

	.list {
		border: 1px solid black;
		padding: 10px 10px;
	

	}

	.picture { 
		padding: 10px; 
		
	}

	.footer{
		width: 100%;
		margin: 0 auto;
		text-align: center;
	   }